<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.7.1" />
  <package id="Nancy.Hosting.Aspnet" version="0.7.1" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="Autofac" version="2.5.2.830" />
  <package id="Nancy.Bootstrappers.Autofac" version="0.7.1" />
</packages>